body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

.button {
    padding: 10px 15px;
    margin: 10px 0;
    cursor: pointer;
}

.example {
    margin-top: 15px;
    font-weight: bold;
}

.code_css, .code_js {
    margin-top: 20px;
    padding: 10px;
    background: #f4f4f4;
    border-radius: 5px;
}

/* Botón regresar */
.back-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background: #1d4ed8;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.back-btn:hover {
    background: #9333ea;
}
